/* theme */
@import url("../public/styles/theme.css");

/* scroll */
::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1c1a1a;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #131313;
}

.hideSB::-webkit-scrollbar {
  height: 0;
  width: 0;
}

* {
  scroll-behavior: smooth;
}

#tes {
  width: 100px !important;
  height: 100px !important;
  background-color: white !important;
}
