@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .display-1-bold {
    @apply font-estedad font-bold text-[64px];
  }
  .display-2-bold {
    @apply font-estedad font-bold text-[56px];
  }

  .h1-bold {
    @apply font-estedad font-bold text-[44px];
  }

  .h2-bold {
    @apply font-estedad font-bold text-[40px];
  }

  .h3-bold {
    @apply font-estedad font-bold text-[32px];
  }

  .h4-bold {
    @apply font-estedad font-bold text-[24px];
  }

  .h5-bold {
    @apply font-estedad font-bold text-[20px];
  }

  .h6-bold {
    @apply font-estedad font-bold text-[16px];
  }

  .h7-semibold {
    @apply font-estedad font-semibold text-[20px];
  }

  .body-xl {
    @apply font-estedad font-normal text-[20px];
  }

  .body-lg {
    @apply font-estedad font-normal text-[18px];
  }

  .body-md {
    @apply font-estedad font-normal text-[16px];
  }

  .body-sm {
    @apply font-estedad font-normal text-[14px];
  }

  .caption-md {
    @apply font-estedad font-normal text-[12px];
  }

  .caption-lg {
    @apply font-estedad font-normal text-[14px];
  }

  .caption-sm {
    @apply font-estedad font-normal text-[10px];
  }

  .button-lg {
    @apply font-estedad font-medium text-[16px];
  }

  .button-md {
    @apply font-estedad font-medium text-[14px];
  }

  .button-sm {
    @apply font-estedad font-medium text-[10px];
  }

  .overline-lg {
    @apply font-estedad font-normal text-[16px];
  }

  .overline-sm {
    @apply font-estedad font-bold text-[12px];
  }
}

@layer utilities {
  .smooth-transition {
    @apply transition-all duration-200;
  }

  .image-wrapper {
    @apply bg-gradient-to-tl from-primary-950/80 to-black/80;
  }

  .div-gray-outline {
    @apply border-2 rounded-8 border-muted-500 overflow-hidden px-4 py-3 focus-within:border-primary-900;
  }

  .div-gray-outline input {
    @apply placeholder:text-muted-800 text-muted-900;
  }

  .active-link {
    @apply text-primary-800;
  }
  .active-link svg {
    @apply text-primary-800;
  }
}

@layer components {
  .input-white-outline {
    @apply rounded-4 border border-muted-600 bg-transparent placeholder:text-muted-300 smooth-transition focus:outline-none ring-muted-600 focus:ring-2 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .input-gray-outline {
    @apply rounded-4 border border-muted-500 bg-transparent placeholder:text-muted-800 smooth-transition focus:outline-none ring-muted-300 focus:ring-2 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .input-gray-outline {
    @apply rounded-4 border border-primary-800 bg-transparent placeholder:text-muted-800 smooth-transition focus:outline-none ring-primary-400 focus:ring-2 disabled:opacity-70 disabled:cursor-not-allowed;
  }

  .button-white-outline {
    @apply button-lg smooth-transition rounded-4 border hover:bg-white hover:text-primary-1400 disabled:bg-muted-200 cursor-pointer disabled:cursor-not-allowed disabled:py-2 disabled:px-8;
  }

  .button-primary {
    @apply bg-primary-700 text-muted-100 smooth-transition cursor-pointer hover:bg-primary-800 active:bg-primary-1000 disabled:opacity-70  disabled:pointer-events-none;
  }

  .button-outline-primary {
    @apply button-lg  smooth-transition rounded-4 border hover:bg-primary-800 border-primary-800 hover:text-muted-100 disabled:bg-muted-200 cursor-pointer disabled:cursor-not-allowed disabled:py-2 disabled:px-8;
  }

  .otp-form input {
    @apply rounded-4 w-14 h-10 text-center mx-2 border border-muted-500 bg-transparent placeholder:text-muted-800 smooth-transition focus:outline-none ring-primary-800 focus:ring-2 focus:border-muted-500 disabled:opacity-70;
  }
  .otp-error input {
    @apply border-error-200;
  }
}

/* slider css */

.banner-slider .swiper-button-prev,
.banner-slider .swiper-button-next {
  @apply text-muted-100 px-14 hidden xl:block;
}

.swiper-pagination-custome {
  @apply w-2 h-2 rounded-full bg-muted-400 cursor-pointer;
}

.swiper-active-pagination-custome {
  @apply w-3 h-3 bg-primary-800 ring-2 ring-primary-100;
}

.swiper-pagination-custome-2 {
  width: 100px;
  height: 100px;
  background-color: black;
}
